body {
  background: url('../images/bg.png') repeat;
}

.Page {
  padding: 30px;
  margin-top: 200px;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.8);
  text-align: center;
}

.FormInput-input {
  padding: 15px !important;
  height: auto !important;
  font-size: 3rem;
}

.FormInput-button {
  font-size: 3rem;
  height: 6rem;
}

.Result {
  margin-top: 50px;
  font-size: 4rem;
}

.ErrorMsg {
  color: #AA3939;
}

.SignName {
  float: right;
  font-size: 1.2rem;
}
